@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");

$green: rgb(4, 63, 70);
$dark-green: rgb(26, 55, 58);
$gray: rgb(136, 136, 136);
