@import "../../globalstyles/variables.scss";

.container {
  position: relative;
  z-index: 999;
  padding-block: 1.5rem;
  @media screen and (max-width: 600px) {
    padding-block: 1rem;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ul_active {
    transform: translateX(0);
  }

  &__logo {
    a {
      font-size: 1.3rem;
      color: $dark-green;
      font-weight: 600;
      text-decoration: none;
    }
  }

  &__mobileMenu {
    display: none;
    @media screen and (max-width: 600px) {
      display: block;
      font-size: 1.4rem;
      color: whitesmoke;
      cursor: pointer;
      padding: 0.3rem;
    }
  }

  &__navlist {
    display: flex;
    gap: 1rem;
    @media screen and (max-width: 600px) {
      position: fixed;
      top: 0;
      right: 0;
      flex-direction: column;
      gap: 1.5rem;
      font-size: 1.1rem;
      background: $dark-green;
      padding-top: 6rem;
      min-height: 100vh;
      transform: translateX(100%);
      transition: transform ease-in-out 200ms;
    }

    .mobileClose {
      display: none;
      @media screen and (max-width: 600px) {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
        padding: 0.3rem;
        font-size: 1.6rem;
        color: white;
      }
    }

    .login {
      display: none;
      @media screen and (max-width: 600px) {
        display: block;
        color: whitesmoke;
        transition: color 200ms ease;
        padding-right: 5rem;
        padding-left: 5rem;
        text-decoration: none;
        &:hover {
          color: rgb(66, 182, 118);
        }
      }
    }
  }
}

// MenuLink component styling

.navLink {
  list-style-type: none;

  a {
    color: rgb(84, 79, 79);
    transition: color 200ms ease;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

    @media screen and (max-width: 600px) {
      color: whitesmoke;
      padding-right: 5rem;
      padding-left: 5rem;
    }
    &:hover {
      color: $dark-green;
      @media screen and (max-width: 600px) {
        color: rgb(66, 182, 118);
      }
    }
  }
}

.active {
  color: $dark-green !important;
  font-weight: 500;
  @media screen and (max-width: 600px) {
    color: rgb(66, 182, 118) !important;
  }
}

// Login Container

.containerLogin {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: whitesmoke;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
  @media screen and (max-width: 600px) {
    display: none;
  }

  &:hover {
    svg {
      transform: translateX(5px);
    }
  }

  a {
    color: $dark-green;
    font-weight: 500;
    text-decoration: none;
  }

  svg {
    font-size: 1.3rem;
    transition: all 200ms ease-in-out;
  }
}
